html, body{
	height: 100%;
	font-family: Montserrat;
}

body{
	background-color: #A3CEBA;
	margin: 0;
	box-sizing: border-box;
}

.container{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.calc{
	background-color: #2E3951;
	width: 300px;
	display: flex;
	flex-direction: column;
	border-radius: 15px;
	overflow: hidden;
}

.screen-result{
	background-color: #212D41;
	color: #37B3B7;
	padding: 40px 15px 15px;
	text-align: right;
	font-size: 70px;
}

.row{
	display: flex;
	justify-content: space-around;
	padding: 10px;
}

.btn{
	background-color: #2E3951;
	border: none;
	color: #96A8A0;
	width: 40px;
	height: 40px;
	font-size: 22px;
	outline: 0;
	cursor: pointer;
	border-radius: 50%;
}

.btn-clear{
	cursor: default;
}

.btn-op{
	background-color: #212B41;
	color: #37B3B7;
}

.btn-igual{
	background-color: #37B387;
	color: #212B41;
}

.btn:active{
	background-color: #313E5A;
}

.btn-op:active{
	background-color: #27324C;
}

.btn-igual:active{
	background-color: #41CA99;
}